@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}



<section class="contact" style="padding-top:2cm;padding-bottom:2cm;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 back" style="margin:auto">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input type="text" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" style="color:red"></span>
                    </div>

                    <input type="submit" class="btn btn-block but" value="Təsdiqlə" />
                </form>
            </div>
        </div>
    </div>
</section>
